.percent-change {
  font-weight: bold;
  border: 1px solid grey;
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  background: white;
}

.percentage-change-form {
  display: flex;
}
.percentage-change-form-input {
  padding: 5px;
  width: 10%;
  margin-right: 5px;
  margin-left: 5px;
}
.alert-number-form-input {
  padding: 5px;
  width: 15%;
  margin-right: 5px;
  margin-left: 5px;
}

.interval-btn:active {
  color: green;
}


.active-notification-pannel{
  max-height: 330px;
  overflow-y: auto;
  /* padding: 10px; */
}

.notification-tile-inactive .card-body{
  padding: 5px 10px !important;
}