.dashboard-container {
  /* background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(22, 25, 58, 255) 100%
  ); */
  /* background-color: white; */
  background: rgb(18, 18, 18);
  position: relative;
  max-height: 300px;
  height: auto;
  min-height: 200px;
  border: 3px solid black;
  margin-top: 20px;
  overflow-y: auto;
  /* margin: 10px; */
}

.cursor {
  color: blue;
}

.alert-container {
  /* position: relative; */
  /* list-style: none; */
  color: white;
  background: rgb(24, 120, 0);
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  /* border: 1px solid black; */
  /* margin: 1px 1px 1px 1px; */
}
.alert-container-inactive {
  color: white;
  background: rgb(46, 46, 46);
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.alert-clear {
  display: flex;
}

.col-2 {
  display: inline-flex;
}
